<div class="tw-bg-white tw-top-10 tw-h-max tw-z-10 tw-w-full component-container">
  <p-accordion class="tw-w-full">
    <p-accordionTab header="Sources" class="source-header">
      <div class="tw-w-full tw-max-h-30 tw-overflow-y-auto">
        <p-carousel *ngIf="sources.length > 0; else noSources" [value]="sources" [numVisible]="3" [numScroll]="1"
          [responsiveOptions]="responsiveOptions" [circular]="false" class="tw-w-full">
          <ng-template let-product pTemplate="item">
            <div class="tw-flex tw-items-center tw-border-1 tw-rounded tw-m-2 tw-p-3">
              <div class="tw-w-2/3">
                <a [href]="product.full_url" target="_blank">
                  <img class="tw-object-fill" [src]="getImageUrl(product.cover_image_url)" alt="Product Image" />
                </a>
              </div>
              <div class="tw-w-1/3 tw-pl-4">
                <div class="tw-font-semibold tw-text-base">
                  {{ product.title }}
                </div>
              </div>
            </div>
          </ng-template>
        </p-carousel>
      </div>
    </p-accordionTab>
  </p-accordion>
</div>

<ng-template #noSources>
  <p style="text-align: center; color: lightgrey">No Sources Detected</p>
</ng-template>