<div
  class="tw-bg-slate-200 tw-h-full tw-overflow-hidden tw-flex tw-flex-col tw-py-2"
>
  <p-carousel
    class="tw-flex-1 tw-overflow-auto tw-text-sm tw-h-min"
    [value]="sources"
    [numVisible]="3"
    [numScroll]="1"
    [circular]="false"
  >
    <ng-template let-product pTemplate="item">
      <div class="tw-border tw-rounded tw-m-2 tw-text-xs tw-flex tw-flex-col">
        <div class="tw-mb-2 tw-relative tw-mx-auto tw-h-1/4 tw-w-full">
          <a [href]="product.url">
            <img
              [src]="product.cover_image_url"
              class="tw-w-full tw-h-full tw-rounded tw-object-cover"
            />
          </a>
        </div>
        <div
          class="tw-font-semibold tw-text-sm tw-h-1/5 tw-overflow-hidden tw-text-ellipsis"
        >
          {{ product.title }}
        </div>
      </div>
    </ng-template>
  </p-carousel>
</div>
