<div class="tw-bg-white tw-top-10 tw-w-[100dvw] tw-z-10 tw-pt-6 component-container">
  <p-accordion class="tw-w-full">
    <p-accordionTab header="Sources" class="source-header">
      <div class="tw-w-full tw-max-h-[25dvh] tw-overflow-y-auto tw-bg-transparent">
        <p-carousel
          *ngIf="sources.length > 0; else noSources"
          [value]="sources"
          [numVisible]="3"
          [numScroll]="1"
          [responsiveOptions]="responsiveOptions"
          [circular]="false"
          class="tw-w-full tw-h-full"
        >
          <ng-template let-product pTemplate="item">
            <div class="tw-flex tw-items-center tw-max-h-80">
              <div class="tw-w-1/2">
                <a [href]="product.full_url" target="_blank">
                  <img class="tw-object-contain tw-w-[50dvw] tw-h-[20dvh] responsive-image" [src]="getImageUrl(product.cover_image_url)" alt="Product Image" />
                </a>
              </div>
              <div class="tw-w-1/3 tw-pl-[0.25dvw]">
                <a [href]="product.full_url" target="_blank">
                  <div class="tw-font-semibold tw-text-[1dvw] responsive-text">
                    {{ product.title }}
                  </div>
                </a>
              </div>
            </div>
          </ng-template>
        </p-carousel>
      </div>
    </p-accordionTab>
  </p-accordion>
</div>

<ng-template #noSources>
  <p style="text-align: center; color: lightgrey">No Sources Detected</p>
</ng-template>
