/* Default button style */
.default-button {
  background-color: gray !important; /* Primary color */
  border-color: #007bff !important;
  color: white !important;
}

/* Highlighted (selected) button style */
.selected-button {
  color: #007bff !important; /* Success color */
  border-color: #007bff !important;
}

@media (max-width: 768px) {

  .responsive-text {
    font-size: 50% !important;
  }
  .responsive-modal {
    width: 80dvw !important;
    height: 100dvh !important;
  }
  .p-dialog {
    margin-left: 5vw;
    margin-right: 5vw;
    width: auto;
  }
}