/* Hide scrollbar for Chrome, Safari and Opera */
p::-webkit-scrollbar {
display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
p {
-ms-overflow-style: none;  /* IE and Edge */
scrollbar-width: none;  /* Firefox */
}
