<div class="tw-relative tw-top-10 tw-h-[calc(100dvh-2.5rem)] tw-bg-emerald-600 tw-flex tw-flex-col">
    <app-voice-sources></app-voice-sources>
    <app-voice-message></app-voice-message> <!-- animate this -->
    <app-voice-annotation></app-voice-annotation> <!-- create modal -->
    <app-voice-microphone [state]="micState" (click)="handleMicButtonClick()"></app-voice-microphone>
    <!-- create new state-->
    <div class="tw-fixed tw-bottom-0 tw-self-center tw-text-center tw-text-xs tw-text-white">
        <p>Synapxe Innovation for Good</p>
        <p>Powered By AI</p>
        <p>Synapxe 2024</p>
    </div>
</div>