<div class="voice-mobile-container">
  <app-voice-sources class="voice-sources"></app-voice-sources>
  <!-- animate this -->
  <app-voice-message class="voice-message"></app-voice-message>
  <!-- create modal -->
  <app-voice-annotation class="voice-annotation"></app-voice-annotation>
  <!-- create new state-->
  <app-voice-microphone
    class="voice-microphone"
    [state]="micState"
    (click)="handleMicButtonClick()"
  ></app-voice-microphone>
  <div class="footer-text">
    <p>Synapxe Innovation for Good</p>
    <p>Powered By AI</p>
    <p>Synapxe 2024</p>
  </div>
</div>
