<div class="tw-w-[100dvw] tw-h-[100dvh] tw-flex tw-flex-col tw-justify-center tw-items-center tw-bg-emerald-200">
  <p-card header="Create your profile">
    <form [formGroup]="profileForm" class="tw-w-[60dvw] tw-grid tw-grid-cols-1 tw-gap-4">
      <div class="tw-flex tw-flex-col tw-gap-2">
        <label for="profile-type">This profile is for</label>
        <p-selectButton
          styleClass="tw-w-full [&>*]:tw-w-[50%]"
          id="profile-type"
          formControlName="profile_type"
          [options]="profileTypeOptions"
          optionLabel="label"
          optionValue="value"
        />
      </div>

      <div class="tw-flex tw-flex-col tw-gap-2">
        <label for="profile-name">Profile name</label>
        <input pInputText id="profile-name" formControlName="name" />
      </div>

      <div class="tw-flex tw-flex-col tw-gap-2">
        <label for="user-gender">Gender</label>
        <p-dropdown styleClass="tw-w-full" id="user-gender" [options]="profileGenderOptions" placeholder="Gender" formControlName="gender" />
      </div>

      <!-- Age Input with Error Display -->
      <div class="tw-flex tw-flex-col tw-gap-2">
        <label for="profile-age">Age</label>
        <input
          type="text"
          pInputText
          id="profile-age"
          formControlName="age"
          inputmode="numeric"
          pattern="[0-9]*"
          oninput="this.value = this.value.replace(/[^0-9]/g, '');"
        />
        <div *ngIf="profileForm.get('age')?.hasError('invalidAge')" class="tw-text-red-500">Invalid age, must be less than or equal to 100.</div>
      </div>

      <div class="tw-flex tw-flex-col tw-gap-2">
        <label for="profile-preexist">
          Do {{ profileForm.value?.profile_type !== "OTHERS" ? "you" : "they" }} have any of these pre-existing conditions?
        </label>
        <p-multiSelect
          styleClass="tw-w-full"
          display="chip"
          id="profile-preexist"
          [options]="profileConditionOptions"
          [filter]="false"
          formControlName="existing_condition"
          placeholder="Conditions"
        ></p-multiSelect>
      </div>

      <p-button (click)="createProfile()" class="tw-w-full tw-mt-4" styleClass="tw-w-full" label="Create profile"></p-button>
    </form>
  </p-card>
</div>
