.chat-window {
    @apply tw-flex-1 tw-px-6 tw-py-4 tw-overflow-y-auto tw-bg-white;
}

.bot-message {
    @apply tw-bg-white tw-text-gray-800 tw-self-start tw-rounded-bl-none;
}

/* Hide scrollbar for Chrome, Safari and Opera */
::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
p {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}
