<div class="tw-w-full tw-h-fit tw-flex tw-flex-row tw-justify-between tw-gap-5 tw-bg-gray-100 tw-fixed tw-top-0 tw-left-0 tw-z-10">
  <p-button icon="pi pi-bars" severity="secondary" (onClick)="toggleSidebar()" />

  <div class="tw-self-center tw-text-center tw-font-bold">
    <img src="" alt="" />
    <p>HealthierME</p>
    <p class="tw-bg-blue-500 tw-text-xs tw-rounded tw-text-white tw-font-light tw-p-1">Powered By Gen AI</p>
  </div>
  <p-button icon="pi pi-comment" severity="secondary" (onClick)="toggleChatMode()" />
</div>

<p-sidebar [(visible)]="sidebar">
  <div class="tw-border-gray-300 tw-bg-white tw-border-solid tw-flex tw-flex-col tw-justify-start tw-items-stretch tw-gap-5">
    <app-navbar-language />
    <app-navbar-line></app-navbar-line>

    <div class="tw-px-2">
      <app-navbar-profile-link [profile]="GeneralProfile" [onCloseSidebar]="closeSidebar.bind(this)"/>
      @for (p of profiles; track p.id) {
        <app-navbar-profile-link [profile]="p" [onCloseSidebar]="closeSidebar.bind(this)"/>
      }
      <app-navbar-profile-create />
    </div>
    <app-navbar-logo-group></app-navbar-logo-group>
  </div>
</p-sidebar>
