<div class="tw-flex-none tw-h-[3.6rem] tw-w-screen tw-z-10">
  <div class="tw-w-full tw-flex tw-flex-col tw-bg-gray-100 tw-fixed tw-top-0 tw-left-0">
    <div class="tw-flex tw-flex-row tw-justify-between tw-items-center tw-gap-5">
      <div class="tw-flex tw-items-center tw-justify-start tw-w-1/6">
        <p-button icon="pi pi-bars" severity="secondary" (onClick)="toggleSidebar()" />
      </div>

      <div class="tw-flex tw-flex-row tw-text-center tw-font-bold tw-gap-2">
        <img src="" alt="" />
        <p>HealthierME</p>
        <p class="tw-bg-blue-500 tw-rounded tw-text-white tw-font-light tw-p-1 tw-w-fit tw-mx-auto tw-text-[clamp(8px,1.5vw,10px)]">Powered By Gen AI</p>
      </div>

      <div class="tw-flex tw-w-1/6"></div>
    </div>

    <div class="tw-text-center">
      <p class="tw-text-red-600 tw-font-medium tw-italic tw-text-[clamp(7px,1.8vw,10px)]">
        Disclaimer: Responses from HealthierME should not be considered as professional medical advice.
      </p>
    </div>
  </div>
</div>

<p-sidebar [(visible)]="sidebar" [dismissible]="true" [modal]="false" [fullScreen]="false" position="left" styleClass="pointer-events: none">
  <div class="tw-border-gray-300 tw-bg-white tw-border-solid tw-flex tw-flex-col tw-justify-start tw-items-stretch tw-gap-5">
    <app-navbar-language />
    <app-navbar-line></app-navbar-line>

    <div class="tw-px-2">
      <app-navbar-profile-link [profile]="GeneralProfile" [onCloseSidebar]="closeSidebar.bind(this)" />
      @for (p of profiles; track p.id) {
        <app-navbar-profile-link [profile]="p" [onCloseSidebar]="closeSidebar.bind(this)" />
      }
      <app-navbar-profile-create />
    </div>
    <app-navbar-logo-group></app-navbar-logo-group>
  </div>
</p-sidebar>
