.voice-mobile-container {
  @apply tw-relative tw-top-0 tw-h-screen tw-bg-emerald-600 tw-flex tw-flex-col tw-overflow-hidden tw-justify-between;
}

.voice-sources {
  @apply tw-h-[20vh] tw-flex-none;
}

.voice-message {
  @apply tw-flex-1 tw-overflow-y-auto tw-py-[2vh] tw-px-[4vw] tw-h-[20vh];
}

.voice-annotation {
  @apply tw-flex-none;
}

.voice-microphone {
  @apply tw-flex-none tw-mx-auto tw-mb-[1vh];
}

.footer-text {
  @apply tw-text-center tw-text-xs tw-text-white tw-pb-[2vh];
}

.tw-relative {
  transition: background-color 0.1s ease-in-out;
}

.custom-border .p-button {
  border-color: white; /* Replace with your desired color */
  border-width: 2px; /* Optional: Adjust the border width */
}
