<div class="tw-flex tw-flex-row tw-items-center tw-justify-between tw-mx-2">
  <a
    #profileLink
    href="/app/chat/{{ profile.id }}"
    class="
      tw-transition-none
      tw-rounded-lg
      tw-flex tw-flex-row tw-justify-between tw-items-center
      tw-gap-3
      tw-px-4 tw-py-3
      tw-cursor-pointer
      {{ isActive ? 'tw-bg-gray-100' : 'tw-bg-white hover:bg-gray-50' }}
    "
  >
    <div class="tw-flex tw-flex-row tw-items-center tw-gap-3">
      <img *ngIf="profile.id === 'general'" ngSrc="/app/profiles/general.svg" height="40" width="40" class="tw-rounded-full tw-w-[40px] tw-h-[40px]" alt="" />
      <img *ngIf="profile.id !== 'general' && gender === 'MALE'" ngSrc="/app/profiles/male.svg" height="40" width="40" class="tw-rounded-full tw-w-[40px] tw-h-[40px]" alt="" />
      <img *ngIf="profile.id !== 'general' && gender === 'FEMALE'" ngSrc="/app/profiles/female.svg" height="40" width="40" class="tw-rounded-full tw-w-[40px] tw-h-[40px]" alt="" />
      
      <div class="tw-flex tw-flex-col tw-justify-start tw-items-stretch">
        <span class="tw-capitalize">{{ profile.name }}</span>
        <span class="tw-lowercase first-letter:tw-capitalize tw-text-sm tw-opacity-60">{{ getProfileDescription() }}</span>
      </div>
    </div>
  </a>

  <!-- Edit Button Icon -->
  <button class="tw-cursor-pointer" (click)="onEditProfile(profile.id)">
    <img ngSrc="/app/icons/edit.svg" height="24" width="24" class="tw-w-[24px] tw-h-[24px]" alt="Edit Profile" />
  </button>
</div>

<p-contextMenu *ngIf="profile.id" [target]="profileLink" [model]="contextMenuItems" />
