<div class="tw-w-full tw-h-full tw-flex tw-flex-col tw-relative tw-items-center">
  <div #messageContainer class="tw-w-full tw-h-full tw-flex tw-justify-center tw-overflow-y-scroll" (scroll)="onScroll()">
    <div class="tw-w-[80dvw] tw-max-w-[800px] tw-flex tw-flex-col tw-justify-start tw-gap-6 tw-mx-4 tw-justify-items-stretch">
      @for (message of messages; track message) {
        @if (message.message.trim()) {
          @switch (message.role) {
            @case (user) {
              <app-text-user [message]="message"></app-text-user>
            }
            @case (system) {
              <app-text-system [message]="message"></app-text-system>
            }
          }
        }
      }
      <p *ngIf="timeout" class="error-message">Error generating response. Please try again later.</p>
    </div>
  </div>
  <app-loading *ngIf="loading" />

  <div class="tw-bottom-6 tw-flex tw-fixed-1 tw-justify-center tw-mb-4">
    <app-text-input (messageSent)="onMessageSent()" class="tw-w-[80dvw] tw-max-w-[800px]" />
  </div>

  <!-- Comment button fixed at the bottom right corner -->
  <!-- <p-button
    icon="pi pi-comment"
    (onClick)="toggleChatMode()"
    class="tw-fixed tw-bottom-6 tw-right-6 tw-w-auto tw-h-auto tw-p-3"
  /> -->
</div>
