.font-size-control {
  margin-bottom: 10px;
}

#fontSizeSlider {
  width: 150px;
}

input[type="range"][orient="vertical"] {
  writing-mode: vertical-lr;
  direction: rtl;
  appearance: slider-vertical;
  width: 16px;
  vertical-align: bottom;
}

.voice-message-loading {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.8); /* Optional: translucent background */
  z-index: 10;
}

.voice-message-loading app-loading {
  width: 10dvw; /* Double the original size */
  height: 10dvh;
}
